# -*- python -*-

import lsst.sconsUtils

dependencies = {
    "required": [],
}

config = lsst.sconsUtils.ExternalConfiguration(
    __file__,
    headers=["mysql/mysql.h"],
    libs=["mysqlclient_r"],
)
